<div id="booking">
  <form id="form" (submit)="navigateToSearchPage($event)">
    <select #from name="from" id="start" class="form-control" [value]="fromLocation">
      <option value="2">Pick Up Address</option>
      <option *ngFor="let location of locations"  [(ngModel)]="fromLocation" name="fromLocation" [value]="location.locationId" >{{ location.locationId }}</option>
    </select>
    <select #to name="to" id="end" class="form-control" >
      <option value="2">Drop Off Address</option>
      <option [(ngModel)]="toLocation" name="toLocation" [value]="location.locationId" *ngFor="let location of locations">{{ location.locationId }}</option>
    </select>

    <div><button id="primaryButton" type="submit" >FIND CARS</button></div>
  </form>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h3>POPULAR CARS IN NAGPUR</h3>
  </div>
</div>

<div class="container car-list-home-container">
  <div class="row car-list-home">
    <div class="col-3" *ngFor="let car of popularCars">
      <app-car-card [carData]="car"></app-car-card>
    </div>
  </div>
</div>
